:root {
  --primary: #0f62fe;
  --tint: #f4f4f4;

  font-family: ABCSans, Helvetica, sans-serif;
}

.scrollyteller .panel ,
.scrollyteller .st-panel {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

@media (min-width: 76rem) {
  .scrollyteller .panel ,
  .scrollyteller .st-panel {
    margin-left: 55% !important;
    max-width: 40vw !important;
  }
}
