$css--font-face: false;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: false;
$css--default-type: true;
$css--plex: false;

@import 'carbon-components/scss/globals/scss/_css--helpers.scss';
@import 'carbon-components/scss/globals/scss/_css--body.scss';

@import 'carbon-components/scss/components/accordion/accordion';
@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/select/select';
@import 'carbon-components/scss/components/multi-select/multi-select';
@import 'carbon-components/scss/components/code-snippet/code-snippet';
@import 'carbon-components/scss/components/copy-button/copy-button';
@import 'carbon-components/scss/components/number-input/number-input';
@import 'carbon-components/scss/components/text-input/text-input';
@import 'carbon-components/scss/components/tabs/tabs';
@import 'carbon-components/scss/components/tag/tag';

:root {
  --primary: #0f62fe;
  --tint: #f4f4f4;

  font-family: ABCSans, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.scrollyteller .panel ,
.scrollyteller .st-panel {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

@media (min-width: 76rem) {
  .scrollyteller .panel ,
  .scrollyteller .st-panel {
    margin-left: 55% !important;
    max-width: 40vw !important;
  }
}
