@import "carbon-components-svelte/css/white.css";

:root {
  --primary: #0f62fe;
  --tint: #f4f4f4;

  font-family: var(--dls-font-stack-sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
